polylend.com {
    reverse_proxy landing:3000
}

app.polylend.com {
    reverse_proxy web:3000
}

www.polylend.com {
    redir https://polylend.com
}

www.polylend.cc {
    redir https://polylend.com
}

polylend.cc {
    redir https://polylend.com
}

docs.polylend.cc {
    redir https://docs.polylend.com
}