polylend.com {
    reverse_proxy web:3000

    handle_path /api/polymarket/gamma-api* {
        reverse_proxy https://gamma-api.polymarket.com
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
    log {
        output stdout
        format console
    }
}

www.polylend.com {
    redir https://polylend.com
}

www.polylend.cc {
    redir https://polylend.com
}

polylend.cc {
    redir https://polylend.com
}
